.ctm-wrapper{
	visibility: hidden;
	position: absolute;
	width: 14%;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 12px 35px rgba(0,0,0,0.1);
	height: fit-content;
	min-width: 180px;
  }
  .ctm-wrapper .ctm-menu{
	padding-left: 12px;
	padding-right: 12px;
  }
  .ctm-content .ctm-item{
	list-style: none;
	font-size: 1em;
	height: 50px;
	display: flex;
	width: 100%;
	cursor: pointer;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 2px;
	padding-left: 0.25em;
  }
  .ctm-content .ctm-item:hover{
	background: #f2f2f2;
  }
  .ctm-content .ctm-item span{
	margin-left: 8px;
	font-size: 1em;
  }

  .ctm-play {
	margin-right: 1em !important;
  }
  .ctm-content .ctm-playlist{
	position: relative;
	justify-content: space-between;
  }
  .ctm-playlist .ctm-playlist-menu{
	padding: 12px;
	position: absolute;
	background: #fff;
	width: 200px;
	top: -35px;
	opacity: 0;
	pointer-events: none;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.08);
	transition: 0.2s ease;
  }
  .ctm-playlist:hover .ctm-playlist-menu{
	opacity: 1;
	pointer-events: auto;
  }
.ctm-noplaylists {
	opacity: 40%;
	cursor:not-allowed !important;
}