/* Main css file */
html{
    padding: 0;
    display: block;
	
    height: 100%;
    min-height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    background: #FFFFFF; 

    /* From acc */
    color: rgba(169, 142, 213, 1);
}


body{
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    /* From acc*/
    width: inherit;
    height: inherit;
}


.header{
    position: fixed;
    height: 50px;
    width: 100%;

    display: flex;


    background-color: #7F39FB;
    z-index: 10;
}


.usr_img_btn img {
	background: none;
	border-radius: 1.5rem;
	cursor: pointer;
	width: 2.5em;
	height: 2.5em;
}
.usr_img_btn {
	background: none;
	border: none;
	cursor: default;
	margin: 0.5rem;
}


.dropdown-content {
	display: none;
	position: absolute;
	transform: translate(-50%, -0.5rem);
	background-color: none;
	min-width: 8rem;
	z-index: 999;
	border-radius: 1rem;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
	cursor: pointer;
	color: #a98ed5;
	padding: 1em 0.2em;
	text-decoration: none;
	width: 100%;
	display: block;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;

	border: none;
	margin-bottom: 0.1em;
	box-shadow: 0px 8px 16px 0px #BB86FC;
	font-family: "Roboto";
	font-weight: 400;

	
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {
	
	background-color: #bb86fc;
	color: #fff;
}
  


    .mobile-sidebar{
        display: none;
    }


    .logo{
        display:flex ;
        align-self: center;
		margin-left: 1em;
        margin-top: 10px;
		margin-right: auto;
    }

	
	.search-box{

		width: 100%;
		height: fit-content;
		position: relative;
	  }
	  .input-search{
		height: 1.5em; 
		width: 25rem;
        min-width: 6rem;
		border-style: none;

		font-size: 18px;
		letter-spacing: 2px;
		outline: none;
		border-radius: 25px;
		transition: all .5s ease-in-out;
		background-color: #e4e1e1;
		padding-right: 40px;
		color:#fff;
	  }
	  .input-search::placeholder{
		color:rgba(0, 0, 0, 0.5);
		font-size: 0.75rem;
		letter-spacing: 2px;
		initial-letter: 2em;
		font-weight: 70;
	  }
	  .btn-search{
		width: 3rem;
		height: fit-content;
		border-style: none;
		font-size: 20px;
		font-weight: bold;
		outline: none;
		cursor: pointer;
		border-radius: 50%;
		position: absolute;
		right: 0px;
		color:#ffffff ;
		background-color:transparent;
		pointer-events: painted;  
	  }
	  .btn-search:focus ~ .input-search{
		width: 35em;
		border-radius: 0px;
		background-color: transparent;
		border-bottom:1px solid rgba(255,255,255,.5);
		transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
	  }
	  .input-search:focus{
		width: 35em;
		border-radius: 0px;
		background-color: transparent;
		border-bottom:1px solid rgba(255,255,255,.5);
		transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
	  }
	  .search-box-wrapper{
		margin-left: auto;
		margin-right: auto;

		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Lato' !important;
	  }
	


    .sign-log-in-button{
        padding: 10px;

		margin-right: 1em;
        text-align: center;
        align-self: center;

        background: #6200EE;
        color: white;
		cursor: pointer;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
    }




.body-wraper{
    flex:1 ;
    width: 100%;

    display: flex;
    flex-direction: row;
}


    .sidebar{
        position: fixed;
        
        top: 50px;
        width: 20%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: #BB86FC;
    }

        .sidebar-button-notloged{
            width: fit-content;
            height: 40px;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 5px;
            

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self:  center;

            background: #6200EE;

            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
            border-radius: 50px;
        }

        .sidebar-button-loged{
            width: fit-content;
            height: 40px;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 5px;
            

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self:  center;

            background: #6200EE;

            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
            border-radius: 50px;
        }

            .sidebar-button-img{
                align-items: center;
                align-self: center;
                margin-right: 3px;
            }

            .sidebar-button-text{
                align-self: center;
                text-align: center;
                color: white;
            }

        .privacy-policy{
                width: fit-content;
                height: 40px;
                margin-top: 200px;
                margin-bottom: 30px;
                padding: 5px;
                
                display: flex;
                justify-self: flex-end;
                text-align: center;
                align-self:  center;
                

                background: #23036A;
                color: white;
    
                box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
                border-radius: 50px;
        }


    .content{
        min-height: 100%;
        width: 80%;
        margin-left: 20%;

        display: flex;
        flex-direction: column;
        background-color: white;
    }
        

        .section{
            min-height: fit-content;
            height: fit-content;
            max-height: none;            
            min-width: fit-content;
            max-width: 100%;
            margin-top: 75px;      
            margin-left: 10px;
            margin-right: 10px;


            display: grid;
            /*background-color: aquamarine;*/
        }

            .section-space{
                display: none;
            }

            .section-title{
                height: auto;
                min-height: 20%;
                width: 100%;

                font-size: 50px;

                padding: 0;
                margin-bottom: 5px;
            }


            .section-content{
                width: 100%;

                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                /*background-color: rgb(27, 147, 184);*/
            }


                .section-song{
                    height: 240px;
                    min-width: 160px;
                    width: 160px;
                    box-shadow: 0px 1px 5px black;
                    margin: 5px;
                    margin-right: 10px;

                    background-color: #DBB2FF;
                }
                .section-song:hover{
                    transition-duration: 500ms;
                    opacity: 50%;
                }
                .round-button {
                    box-sizing: border-box;
                    display:block;
                    position: absolute;
                    width:80px;
                    height:80px;
                    margin-top: 2%;
                    margin-left: 2%;
                    padding-top: 14px;
                    padding-left: 8px;
                    line-height: 20px;
                    border: 6px solid #fff;
                    border-radius: 50%;
                    color:#f5f5f5;
                    text-align:center;
                    text-decoration:none;
                    background-color: rgba(0,0,0,0.5);
                    font-size:20px;
                    opacity: 0;                    font-weight:bold;
                    transition: all 0.3s ease;
                    float:rig;
                }
                .round-button:hover {
                    background-color: rgba(0,0,0,0.8);
                    box-shadow: 0px 0px 10px rgb(99, 99, 99);
                    text-shadow: 0px 0px 10px rgba(99,99,99);
                }
                .section-song:hover > .round-button{
                    transition-duration: 500ms;
                    opacity: 100%;
                }
                .section-song2{
                    height: 240px;
                    min-width: 160px;
                    width: 160px;
                    box-shadow: 0px 1px 5px black;
                    margin: 5px;
                    margin-right: 10px;

                    background-color: #DBB2FF;
                }
                .section-song2:hover{
                    transition-duration: 500ms;
                    opacity: 50%;
                }
                .cover-img{
                    max-width: 100%;
                    max-height: 100%;
                    margin-right: var(--playlist-margin);
                }
                .cover-img img {
                    width: 100%;
                    display: block;
                    height: 100%;
                    z-index: -1;
                    object-fit: cover;
                }
                .title{
                    color: #000;
                    font-family: "Roboto";
                    font-weight: bold;
                    font-size: 125%;
                    margin-left: 10px;
                    margin-top: 10px;
                    margin-bottom: 0px;
                    
                }
                .artist{
                    color: rgb(46, 46, 46);
                    font-family: "Roboto";
                    margin-left: 10px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    
                }
                .section-plus{
                    height: 80px;
                    width: 80px;

                    display: flex;
                    border-radius: 50%;
                    align-self: center;
                    align-items: center;
                    text-align: center;
                    

                    color: white;
                    background-color: #BB86FC;
                }
		
                       .prof-info{
                height: 250px;
                width:100%;
                text-align: center;
                position:relative;
                overflow:hidden;

            }

            .prof-info-bg{
                height: 100%;
                width: auto;

                font-size: 50px;
                background-repeat: no-repeat;
                background-position: center;
                background-size:cover;
                filter: blur(10px);
                -webkit-filter: blur(25px);
                -moz-filter: blur(10px);
                -o-filter: blur(10px);
                -ms-filter: blur(10px);
                border: 10px solid #000;
                margin:-10px;
                padding:1px;
            }
            .prof-info img{
                object-fit: cover;
                min-width: 100%;
                min-height: 100%;
            }
            .prof-info-text {
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 80px;
                font-weight: bold;
                font-family: "Roboto";
                padding: 10px;
                transform: translate(-50%, -50%);
                text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
                text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
                1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;


              }

/* -----------------------REGISTER CSS---------------------- */

.regbody{
color: #000;
position: fixed;
align-items: center;
justify-content: center;
width: 60%;
height: 100%;
margin-left: 20%;
z-index: 1;
display: flex;
flex-direction: column;
background: #DBB2FF;
}

.regtitle{
    margin-top:8%;
    font-family:"Roboto";
    width: 100%;
    height: 12%;
}
    .regsubtitle1{
        height: 20px;
        margin-left: 5%;
    }
    .regsubtitle2{
        height: 48px;
        margin-left: 5%;
        font-weight: 400;
        font-size: 48px;
        margin-bottom: 8px;
    }

.regsubody{
    font-family:"Roboto";
    width: 90%;
    height: 35%;
    margin-left: 10%;
}
    .regbutton{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
        color:white;
        width: 20%;
        height: 10px;
        margin-left: 35%;
        margin-bottom: 5px;
        background: #6200EE;
        border-radius: 50px;
        cursor: pointer;
    }
    .regbox{
        margin-top: 10px;
        gap:30px;
        justify-content: center;
        align-items: center;
        display:flex;
        flex-direction: row;
    }
        .reg_regbox_div{
            margin-right: 10px;
            margin-top: 10px;
            gap:10px;
            justify-content: center;
            align-items: center;
            display:flex;
            flex-direction: row;
        }
    
.regbot{
    font-family:"Roboto";
    width: 100%;
    height: 30%;
    gap:30px;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: row;

}

/* -----------------------LOGIN CSS---------------------- */
.loginbody{
position: fixed;
align-items: center;
justify-content: center;
width: 60%;
height: 90%;
margin-left: 20%;
height: 100%;
z-index: 1;
display: flex;
flex-direction: column;
background: #DBB2FF;
}
.logintitle{
    font-family:"Roboto";
    width: 100%;
    margin-top: 8%;
    color: black;
    height: 15%;
}
    .loginsubtitle1{
        height: 20px;
        margin-left: 5%;
    }
    .loginsubtitle2{
        margin-top: 0;
        height: 48px;
        margin-left: 5%;
        font-weight: 400;
        font-size: 48px;
    }
.loginsubody{
    font-family:"Roboto";
    width: 100%;
    height: 35%;
    
}
    .logininfo{
        color: #000;
        margin-left: 10%;
        width: 90%;
        height: 80%;
    }
    .loginbutton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
        color:white;
        width: 20%;
        height: 10px;
        margin-left: auto;
        margin-right: auto;
        background: #6200EE;
        border-radius: 50px;
    }
.loginbot{
    font-family:"Roboto";
    width: 100%;
    height: 20%;
    gap:30px;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: row;
}

/* -----------------------COMMON CSS LOGIN-REGISTER---------------------- */

.googlebutton{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 30%;
    height: 10px;
    background: white;
    border-radius: 50px;
    cursor: pointer;
}
.facebookbutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 30%;
    height: 10px;
    color:white;
    background-color: rgb(44, 67, 115);
    border-radius: 50px;
    cursor: pointer;
}
.logininfo input[type=text]{
    margin-top: 2%;
    width: 65%;
    padding: 14px 30px;
    border: none;
    border-radius: 10px;
    cursor: text;
}
.logininfo input[type=password]{
    margin-top: 2%;
    width: 65%;
    padding: 14px 30px;
    border: none;
    border-radius: 10px;
    cursor: text;
}
.reginfo input[type=text]{
    margin-top: 2%;
    width: 65%;
    padding: 14px 30px;
    border: none;
    border-radius: 10px;
    cursor: text;
}
.reginfo input[type=password]{
    margin-top: 2%;
    width: 65%;
    padding: 14px 30px;
    border: none;
    border-radius: 10px;
    cursor: text;
}
.separator{
    /* Esto no deberia ponerse: */
    width: 70%;
    height: 1.5px;
    margin-top: 5px;
    border-radius: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

/* ----------------------- o ---------------------- */    
.footer {
    background-color: #985EFF;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    margin: 0;
    display: flex;
}

.footer-msg{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 0.95em;
}
.player {
	z-index: 10;
	position: fixed;
	background: #233243;
	color: #000;
	bottom: 0;
	left: 0;
	right: 0;
	height: 8%!important;
	margin: 0;
	min-height: 80px;
	max-height: 80px;
	display: flex;
	flex-direction: row;
}
.player .left {
	width: 80px;
	background-size: cover;
}
.player .left img {
	width: 80px;
	height: 80px;
}
.player .right {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.player .right .top {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10px;
}
.player .right .top .song {
	font-size: 1.2em;
	font-weight: 600;
}
.player .right .bottom {
	display: flex;
}
.player .right .bottom video {
	flex-grow: 1;
	height: 32px;
}

.player a {
	color: #a98ed5;
	text-decoration: none;
}
@media only screen and (max-width: 2560px) {
    .sidebar{
        display: flex;
    }

}  

/* ---------------------------------------------------------------------- */
/* -----------------------------TABLET DISPLAY--------------------------- */
/* ---------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
    .input-search{
        width: 12rem;
    }
    .sidebar{
        padding: 5px;
        width: 23%;
    }

    .content{
        margin-left: 25%;
        width: 75%;
    }

/* -----------------------REGISTER CSS---------------------- */    
    .regbody{
        width: 80%;
        margin-left: 10%;
    }
    
    .regbox{
        flex-direction: column;
        align-items: center;
        gap: 0px;
        margin-top: 0;
    }

    .regsubody{
        margin-bottom: 30px;
    }

/* -----------------------LOGIN CSS---------------------- */
    .loginbody{
        width: 80%;
        margin-left: 10%;
    }
    .loginbutton{
        align-self: center;
        width: 25%;
    }
}


/* ---------------------------------------------------------------------- */
/* -----------------------------MOBILE DISPLAY--------------------------- */
/* ---------------------------------------------------------------------- */
@media only screen and (max-width: 600px) {
/* -----------------------INDEX CSS---------------------- */
.header{
    height: 80px;
}   

.section-space{
    display: block;
}

.sidebar{
    display: flex;
    width: 80%;
}
.content{
    width: 100%;
    margin-left: 0%;
}

.section-title{
    font-size: 40px;

}
.section-song{
    height: 180px;
    min-width: 120px;
    width: 120px;
}
.section-song2{
    display: none;
}

.search-box-wrapper{
    display: none;
}

.mobile-sidebar{
    display: block;
    height: 50px;
    width: 50px;

    font-size: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}
    
/* -----------------------REGISTER CSS---------------------- */    
.regbody{
width: 80%;
margin-left: 10%;
}

/* -----------------------LOGIN CSS---------------------- */
.loginbutton{
    align-self: center;
    width: 30%;
}

}