/* Main css file */
html{
    padding: 0;
    display: block;
	
    height: 100%;
    min-height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    background: #FFFFFF; 

    /* From acc */
    color: rgba(169, 142, 213, 1);
}


body{
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    /* From acc*/
    width: inherit;
    height: inherit;
}


.header{
    height: 8%;
    min-height: 50px;
    width: 100%;

    background-color: #7F39FB;
}


.body-wraper{
    flex:1;
    width: 100%;

    background-color: rgb(255, 0, 0);
}


.footer {
    background-color: #985EFF;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    margin: 0;
    display: flex;
}

.footer-msg{
    margin: auto;
    text-align: center;
    color: #985EFF;
    font-size: 0.95em;
}